<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club de turo FS</title>

    <!--CSS Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Estilos CSS-->
    <link rel="stylesheet" href="/public/css/estilos.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top color-nav" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="" id="tituloNav">
          <img class="nav-img" src="assets/img/viajes.svg" alt="logo Fogeo">
          Fogeo Shooter
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item titulos-nav">
              <a class="nav-link active inicio titulos-nav" aria-current="page" href="#" id="colortext-nav"><b>Inicio</b></a>
            </li>
            <li class="nav-item titulos-nav">
              <a class="nav-link active titulos-nav" href="#Quienes-Somos" id="colortext-nav"><b>instructores</b></a>
            </li>
            <li class="nav-item titulos-nav">
              <a class="nav-link active titulos-nav" href="#destacados" id="colortext-nav"><b>galeria</b></a>
            </li>
            <li class="nav-item titulos-nav">
              <a class="nav-link active titulos-nav" href="#contacto" id="colortext-nav"><b>Contacto</b></a>
            </li>
            <li class="nav-item titulos-nav">
              <a class="nav-link active titulos-nav" href="#contacto" id="colortext-nav"><b>Log in</b></a>
            </li>
            <li class="nav-item titulos-nav">
              <a class="nav-link active titulos-nav" href="#contacto" id="colortext-nav"><b>Inicio Sesion</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>