{{!-- navbar --}}
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top py-lg-0 px-lg-5 wow fadeIn"
    data-wow-delay="0.1s">
    <a class="navbar-brand" href="/"><img class="imglogo" src="/img/logo.jpg" alt="logo"/></a>
      <h1 class="mb-0 text-info text-uppercase">
        <a href="/" class="titulo-pagina nav-item nav-link active">FOGUEO SHOOTING</a>
        </a>
            
      </h1>
      
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
        <a href="/" class="nav-item nav-link active">Inicio</a>
        <a href="#" class="nav-item nav-link">Intructores</a>
        <a href="#" class="nav-item nav-link">Galeria</a>
        <a href="#Contacto" class="nav-item nav-link active">Contacto</a>
        <a href="/iniciarsesion" class="nav-item nav-link">Iniciar Sesion</a>
      </div>
    
    </div>
  </nav>
<!--fin navbar-->

<!--End navbar-->
<!-- carousel -->
<div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
	<div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="video-fondo">
					<video autoplay muted loop poster="" src="/img/video4.mp4" alt="video">
				</div>
				<div class="carousel-caption d-flex align-items-center justify-content-center text-start">
					<!-- Contact Start -->
					<div class="form-bg">
						<div class="container">
							<div class="row">
								<div class="col-md-offset-3 col-md-12">
									<div class="form-container">
										<h3 class="title">Registrate</h3>
										<form class="form-horizontal">
											<div class="form-group">
												<label>Nombre</label>
												<input type="text" class="form-control" placeholder="Nombre" name="nombre">
											</div>
											<div class="form-group">
												<label>Apellido</label>
												<input type="email" class="form-control" placeholder="Apellido" name="apellido">
											</div>
											<div class="form-group">
												<label>Contraseña</label>
												<input type="password" class="form-control" placeholder="Contraseña" name="contraseña">
											</div>
											<div class="form-group">
												<label>Confirma Contraseña</label>
												<input type="password" class="form-control" placeholder="Confirma Contraseña" name="contraseña2">
											</div>
											<div class="form-group">
												<label>Email</label>
												<input type="email" class="form-control" placeholder="email" name="email">
											</div>
											<div class="form-group">
												<label>Confirma Email</label>
												<input type="email" class="form-control" placeholder="Confirma email" name="email2">
											</div>
											
											<div class="form-group">
												<label>RUT</label>
												<input type="text" class="form-control" placeholder="Rut" name="rut">
											</div>
											<div class="form-group">
												<label>Cuentas con alguna experiencia de tiro?</label>
												<select class="form-control">
													<option value="SI">SI</option>
													<option value="NO">NO</option>
												</select>
													
											</div>
											<div class="check-terms">
												<input type="checkbox" class="checkbox">
												<span class="check-label">Terminos y Condiciones</span>
											</div>
											<span class="signin-link">ya tienes una cuenta? <a href="/iniciarsesion">Iniciar sesión</a></span>
											<button class="btn signup" type="submit">Crear Cuenta</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Contact End -->
				</div>
			</div>
		</div>
	</div>
</div>
<!--carousel end-->

<!-- Inicio Footer -->
<div class="container-fluid bg-secondary text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
	<div class="container py-5" id="#Contacto">
		<div class="row g-5">
			<div class="col-lg-4 col-md-6">
				<h4 class="text-uppercase mb-4">CONTACTO</h4>
				<div class="d-flex align-items-center mb-2">
					<div class="btn-square bg-dark flex-shrink-0 me-3">
						<span class="fa fa-map-marker-alt text-primary"></span>
					</div>
					<span>Fogueo shooting club de tiro</span>
				</div>
				<div class="d-flex align-items-center mb-2">
					<div class="btn-square bg-dark flex-shrink-0 me-3">
						<span class="fa fa-phone-alt text-primary"></span>
					</div>
					<span>+590000000</span>
				</div>
				<div class="d-flex align-items-center">
					<div class="btn-square bg-dark flex-shrink-0 me-3">
						<span class="fa fa-envelope-open text-primary"></span>
					</div>
					<span>fogueoshooting@fsclub.cl</span>
				</div>
			</div>

		</div>
	</div>
	<div class="container">
		<div class="copyright">
			<div class="row">
				<div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
					&copy; <a class="border-bottom" href="#">FOGUEO SHOOTING</a>, TODOS LOS DERECHOS RESERVADOS PARA EL
					PROYECTO FINAL DE DESAFIO LATAM
				</div>
				<div class="col-md-6 text-center text-md-end">

					<br>VICTOR MOLINA: <a class="border-bottom" href="https:" target="_blank">LINK</a>
					<br>ELIECER GONZALEZ: <a class="border-bottom" href="https:" target="_blank">LINK</a>
					<br>MIXZIO GONZALEZ: <a class="border-bottom" href="https:" target="_blank">LINK</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Fin Footer -->

<!-- volver a inicio -->
<a href="#" class="btn btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!-- Template Javascript -->
<script src="/js/index.js"> </script>