<!--inicio Navbar--->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
    <a class="navbar-brand" href="/"><img class="imglogo" src="/img/logo.jpg" alt="logo" /></a>
    <h1 class="mb-0 text-info text-uppercase">
        <a href="/" class="titulo-pagina nav-item nav-link active">FOGUEO SHOOTING</a>
        </a>
    </h1>
</nav>
<!-- carousel -->
<div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="carousel-caption d-flex align-items-center justify-content-center text-start">
        <!-- Contact Start -->
        <div class="form-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-12">
                        <div class="form-container">
                            <h5 class="title">TE HAS REGISTRADO CON EXITO</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function redireccionarPagina() {
        window.location = "/iniciarsesion";
    }
    setTimeout("redireccionarPagina()", 3000);
</script>