
/*esto es un comentario*/

body {
    background-color: #010213;
}


/*Color navbar*/
.color-nav {
    background-color: #090031;
    transition: all 1s ease;
}

#colortext-nav {
    color: #fcf8f8;
    font-family: 'Oswald', sans-serif;
}

#tituloNav {
    color: rgb(243, 234, 234);
}